.banner {
    position: relative;
    height: 450px;
    color: #fff;
    object-fit: contain;
}

/* Dark gradient at bottom */
.banner::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(0, 0, 0, 0.6),
        #111
    );
}

.banner_contents {
    margin-left: 30px;
    padding-top: 140px;
    position: relative;
    z-index: 10;
    text-align: left;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}

.banner_buttons {
    margin-top: 15px;
}

.banner_button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    padding: 8px 24px;
    margin-right: 10px;
    background-color: rgba(51, 51, 51, 0.7);
    transition: all 0.3s ease;
}

.banner_button:hover {
    color: #000;
    background-color: #e6e6e6;
}

.banner_description {
    width: 45rem;
    max-width: 360px;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    height: 80px;
}
