*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-outer-container{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    z-index: 20;
    
}

.header-left ul, .header-right ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    
}       
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}