.row_poster{
    width: 100%;
    max-height: 100px;  
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;              
    
}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_posterLarge{
    max-height: 250px;
}
.row_posterLarge:hover{
    transform: scale(1.09);
    opacity: 1;
}
.row{
    color: white;
    margin-left: 20px;
}
.row_title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0;
    text-align: left;
}
h1{
    margin-left: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}